<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <section class="micropost_form">
      <h1>写真のアップロード</h1>
      <%= render 'layouts/micropost_form' %>
    </section>
  </div>
</div>
