<h1><%= @user.username %></h1>
<%= image_tag @user.image_name.url if @user.image_name? %>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(@user.microposts.count, "photo") %></span>
