<h1><%= @user.username %></h1>
<%= image_tag @user.image_name.url if @user.image_name? %>
<span><%= link_to 'プロフィール編集', edit_user_registration_path %></span>
<span><%= pluralize(@user.microposts.count, "photo") %></span>
